# Ignorar as credenciais sensíveis
credentials.json
tokens/

# Node modules
node_modules/

# Arquivos do sistema
.DS_Store
.env
*.log
rfc5755.py

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
env/
venv/

# VSCode
.vscode/

# Node (caso use frontend)
node_modules/
dist/
build/